---
import Header from "@/components/header.astro";
import RootLayout from "@/layouts/root.astro";
---

<RootLayout>
	<Header>
		<a href="/en" title="Anglais">
			<img
				src="/gb.svg"
				class="size-9 rounded-full border border-zinc-700"
			/>
		</a>
	</Header>
	<img
		src="/hero.jpg"
		alt="Un champs de lavande"
		class="border-2 border-lavande rounded-sm"
	/>
	<h2>test</h2>
</RootLayout>
