---
import RootLayout from "@/layouts/root.astro";
---

<RootLayout>
	<header class="h-20 flex items-center justify-between px-12">
		<h1 class="font-title text-6xl">Maison de la mascotte</h1>
	</header>
	<img
		src="/hero.jpg"
		alt="Un champs de lavande"
		class="border-2 border-lavande rounded-sm"
	/>
	<h2>test</h2>
</RootLayout>
