---
import type { ComponentProps } from "astro/types";
import { Carousel } from "astro-carousel";

import RootLayout from "@/layouts/root.astro";

const images: ComponentProps<typeof Carousel>["images"] = [
	{
		src: "/hero.jpg",
		alt: "",
		width: 1920,
		height: 1080,
		widths: [200, 675, 1350],
	},
	{
		src: "/hero.jpg",
		alt: "",
		width: 1080,
		height: 1920,
		widths: [200, 675, 1350],
	},
	{
		src: "/hero.jpg",
		alt: "",
		width: 1080,
		height: 1920,
		widths: [200, 675, 1350],
	},
	{
		src: "/hero.jpg",
		alt: "",
		width: 1080,
		height: 1920,
		widths: [200, 675, 1350],
	},
	{
		src: "/hero.jpg",
		alt: "",
		width: 1080,
		height: 1920,
		widths: [200, 675, 1350],
	},
	{
		src: "/hero.jpg",
		alt: "",
		width: 1080,
		height: 1920,
		widths: [200, 675, 1350],
	},
];

import ChevronDownIcon from "@/components/icons/chevron-down-icon.astro";
---

<RootLayout>
	<section class="h-dvh flex flex-col items-center gap-24">
		<header class="h-20 flex items-center justify-end mx-auto w-11/12">
			<div class="flex gap-3 items-center">
				<a
					data-locale={Astro.currentLocale}
					href="/"
					title="Français"
					class="data-[locale=fr]:border-4 border-lavande rounded-full hover:scale-110 duration-200"
				>
					<img src="/fr.svg" class="size-7 rounded-full" />
				</a>
				<a
					data-locale={Astro.currentLocale}
					href="/en"
					title="Anglais"
					class="data-[locale=en]:border-4 border-lavande rounded-full hover:scale-110 duration-200"
				>
					<img src="/gb.svg" class="size-7 rounded-full border" />
				</a>
			</div>
		</header>
		<div class="grid place-items-center gap-6">
			<h1 class="font-title text-5xl sm:text-8xl">
				Maison de la mascotte
			</h1>
			<p
				class="font-subtitle text-zinc-700 max-w-52 sm:max-w-max text-center text-3xl underline underline-offset-4"
			>
				La Maison d'hôte provençale et généreuse
			</p>
			<Carousel images={images} />
			<div class="flex flex-col gap-12 mt-48 items-center">
				<a
					data-discover
					href={`./?image=${0}`}
					class="text-center font-title text-5xl px-6 py-3 border-lavande/20 bg-lavande/10 rounded-full duration-200 border hover:text-lavande hover:scale-105 text-zinc-700"
					>Visiter les lieux</a
				>
				<a
					data-discover
					href="#discover"
					class="text-3xl font-title hover:scale-90 duration-200 [&>svg]:duration-200 [&>svg]:hover:stroke-lavande"
				>
					<ChevronDownIcon width="96" height="96" />
				</a>
			</div>
		</div>
	</section>
	<section id="discover" class="h-dvh py-24">
		<h2 class="font-title text-8xl text-center">Parcourez la provence</h2>
		<ul class="grid grid-cols-2">
			<li></li>
		</ul>
	</section>
</RootLayout>
